
*{
 color: #333333;;
}




.lead {
   color: rgba(100, 116, 139, 1);
   text-align: justify;
}
.custom-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('../img/church.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
}

.bg-primary,
.btn-primary {
    background-color: #155c9a !important;
    border-color: #155c9a;

}

.album .container {
    max-width: 1280px;
}

.album .col {
    padding-left: 1rem;
    padding-right: 1rem;
}

.custom-event {
    color: rgba(100, 116, 139, 1);
}

.custom-event h2 {
    font-size: 2.25rem;
}

h2, h5 {
    color: rgba(51, 65, 85, 1) !important;
}

.m-custom {
    margin: 160px 0;
}

.rounded {
    border-radius: 0.8rem !important;
}

.featurette .p-custom {
    padding: 3rem;
}

.text-justify {
    text-align: justify;
}

.footer-custom {
    max-width: 100vw;
}

.main-footer .text-muted{
    color: #C3C0C0 !important;
}

.main-footer p,
.main-footer h5 {
    color: #fff !important;
}

.navbar-nav {
    margin-left: 15rem;
}

.nav-item {
    margin-right: 10px;
}

.custom-flex {
    display: flex;
}
@media(max-width: 575px) {
    .navbar-nav {
        margin-left: 7rem;
    }

    .custom-flex {
        display: -webkit-inline-box;
    }
    
}