@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Product+Sans");
@import url("https://fonts.googleapis.com/css?family=Google+Sans");


body{
    scroll-behavior: smooth;
}
i.bi{
    font-weight: bold;
}
.list-group-item{
    padding:10px;
    text-align: center;
}
.list-group{
    position: sticky;
}
.side-list{
    
    width: 50px;
    float: right;
    margin-right: 9rem;
    margin-top: 10rem;
}